@font-face {
    font-family: 'Bitcount Prop Double Cursive';
    src: url('../../fonts/bitcount/BitcountPropDoubleCursive-Light.woff2') format('woff2'),
        url('../../fonts/bitcount/BitcountPropDoubleCursive-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitcount Prop Double Roman';
    src: url('../../fonts/bitcount/BitcountPropDoubleRoman-Light.woff2') format('woff2'),
        url('../../fonts/bitcount/BitcountPropDoubleRoman-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitcount Prop Double';
    src: url('../../fonts/bitcount/BitcountPropDouble-Light.woff2') format('woff2'),
        url('../../fonts/bitcount/BitcountPropDouble-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Italic.woff2') format('woff2'),
        url('../../fonts/roboto/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bitcount Prop Double';
    src: url('../../fonts/bitcount/BitcountPropDouble-Regular.woff2') format('woff2'),
        url('../../fonts/bitcount/BitcountPropDouble-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('../../fonts/sharetechmono/ShareTechMono-Regular.woff2') format('woff2'),
        url('../../fonts/sharetechmono/ShareTechMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anton';
    src: url('../../fonts/anton/Anton-Regular.woff2') format('woff2'),
        url('../../fonts/anton/Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}