@use 'fonts';
@use 'variables';

//header
header{
    background-color: variables.$green;
    width: 100%;
    height: var(--header);
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;

    .homeButton{
        width: 60px;
        img{
            width: 100%;
        }
    }

    .emailAdd{
        display: block;
        font-family: 'Bitcount Prop Double';
        font-style: normal;
        font-size: 24px;
        text-decoration: underline;
        text-shadow: variables.$textBorder;
        color: black;
        transition: all 0.5s;

        &:hover{
            transform: scale(1.05);
            text-shadow: variables.$textHover;
        }
    }

    .menu{
        user-select: none;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 504px;
        li{
            font-size: 28px;
            font-family: 'Roboto';
            font-weight: bold;
            a{
                display: block;
                text-decoration: none;
                color: black;
                transition: all 0.5s;
                &:hover{
                    transform: scale(1.15);
    
                }
            }
            .contactButton{
                cursor: pointer;
                color: variables.$green;
                background-color: black;
                padding: 10px 10px;
                border-radius: 10px;
                transition: all 0.5s;
                &:hover{
                    transform: scale(1.15);
                    color: white;
                }
            }
        }
    }
    .burg{
        display: none;
        flex-direction: column;
        gap: variables.$burgSize;
        cursor: pointer;
        .bar{
            display: flex;
            .cube{
                width: variables.$burgSize;
                height: variables.$burgSize;
                background-color: black;
                transition: all 0.3s; 
            }
        }
    }
    // @media all and (max-width: 1500px){
    //     height: 80px;
    // }
    @media all and (max-width: 1200px){
        .menu{
            display: none;
        }
        .burg{
            display: flex;
        }
    }
}

.menB{
    position: fixed;
    left: -100%;
    background-color: variables.$green;
    width: 100%;
    height: calc(100vh - var(--header));
    bottom: 0;
    transition: all 0.5s;
    z-index: 201;
    @extend %flex-dcenter;
    flex-direction: column;
    .menuIn{
        user-select: none;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        width: 300px;
        gap: 50px;
        transform: translate(0, calc(-1 * var(--header)));
        li{
            font-size: 28px;
            font-family: 'Roboto';
            font-weight: bold;
            a{
                @extend %flex-dcenter;
                text-decoration: none;
                color: black;
                transition: all 0.5s;
                &:hover{
                    transform: scale(1.15);
    
                }
            }
            .contactButton{
                @extend %flex-dcenter;
                cursor: pointer;
                color: variables.$green;
                background-color: black;
                padding: 10px 10px;
                border-radius: 10px;
                transition: all 0.5s;
                &:hover{
                    transform: scale(1.15);
                    color: white;
                }
            }
        }
    }
}
.menB.view{
    left: 0;
}