//variables et extensions
$green: #00DF5D;
$textBorder: #5356FF 0 0 5px;
$textBorderbis: rgba(83, 86, 255, 0.6) 0 0 5px;
$textHover: #3538fe 0 0 15px;
$bg: #151717;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    scroll-behavior: smooth;
}

.slide{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: $bg;
}

%flex-dcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

%bitcount{
    font-family: 'Bitcount Prop Double';
    font-weight: 400;
}


