@use 'fonts';
@use 'variables';

#works{
    position: relative;
    overflow: hidden;
    font-family: 'Bitcount Prop Double';
    color: white;
    .selecButton{
        width: 100%;
        @extend %flex-dcenter;
        gap: 20px;
        margin-top: 130px;
        margin-bottom: 30px;
        .pre, .next, .pageButton{
            user-select: none;
            @extend %flex-dcenter;
            cursor: pointer;
        }
        .pre, .next{
            height: 50px;
            border-radius: 50%;
            img{
                height: 100%;
            }
        }
    
        .pre[data-grey='1'], .next[data-grey='1']{
            filter: grayscale(100%);
        }
        .pageButton{
            background-color: variables.$green;
            width: 40px;
            height: 40px;
            font-size: 24px;
            border: solid 2px #6C7A89;
            border-radius: 25%;
        }
        .pageButton[data-select='1']{
            filter: hue-rotate(90deg);
        }
        @media all and (max-width: 1500px){
            margin-top: 110px;
        }
        @media all and (max-width: 700px){
            margin-top: 95px;
            margin-bottom: 15px;
            .pageButton{
                width: 30px;
                height: 30px;
                font-size: 20px;
            }
            .pre, .next{
                height: 30px;
            }
        }
    }
    .site{
        width: 100%;
        height: 500px;
        display: flex;
        &.left{
            border-left: solid 4px transparent;  
            border-image: url(../../images/border-pixel.png) 4 round; 
            background-color: black;
            @media all and (max-width: 700px){
                flex-direction: column;
            }
        }
        &.right{
            border-right: solid 4px transparent;  
            border-image: url(../../images/border-pixel.png) 4 round; 
            background-color: #323733;
            flex-direction: row-reverse;
            @media all and (max-width: 700px){
                flex-direction: column;
            }
        }
        .bloc1, .bloc2{
            height: 100%;
            width: 50%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 20px;
            @media all and (max-width: 900px){
                padding: 20px;
            }
            @media all and (max-width: 700px){
                width: 100%;
                padding: 15px 15px 0;
            }
        }

        .bloc1{
            .siteName{
                font-size: 40px;
                font-weight: 400;
            }
            .cover{
                width: 100%;
                @extend %flex-dcenter;
                img{
                    width: 500px;
                    border: 2px solid variables.$green;
                    box-shadow: variables.$textBorder;
                    @media all and (max-width: 1200px){
                        width: 90%;
                    }
                    @media all and (max-width: 800px){
                        width: 95%;
                    }
                }
            }
            .grTec{
                h3{
                    font-size: 20px;
                    font-weight: 400;
                }
                .tec{
                    width: 100%;
                    @extend %flex-dcenter;
                    gap: 100px;
                    img{
                        width: 60px;
                    }
                }
            }
            @media all and (max-width: 900px){
                .siteName{
                    font-size: 36px;
                }
                .grTec{
                    h3{
                        font-size: 19px;
                    }
                    .tec{
                        gap: 90px;
                        img{
                            width: 50px;
                        }
                    }
                }
            }
            @media all and (max-width: 700px){
                .siteName{
                    text-align: center;
                    font-size: 32px;
                }
                .cover{
                    img{
                        width: 55%;
                    }
                }
                .grTec{
                    h3{
                        font-size: 18px;
                    }
                    .tec{
                        img{
                            width: 40px;
                        }
                    }
                }
            }
            @media all and (max-width: 500px){
                .cover{
                    img{
                        width: 80%;
                    }
                }
                .grTec{
                    .tec{
                        gap: 80px;
                    }
                }
            }
        }
        .bloc2{
            .date{
                span{
                    font-size: 24px;
                    text-shadow: variables.$textBorder;
                }
            }
            .blocLien{
                width: 100%;
                @extend %flex-dcenter;
                flex-direction: column;
                gap: 27px;
                .lien{
                    width: 80%;
                    height: 60px;
                    a{
                        height: 100%;
                        width: 100%;
                        @extend %flex-dcenter;
                        gap: 10px;
                        background-color: variables.$green;
                        color: black;
                        text-decoration: none;
                        font-size: 28px;
                        border-radius: 30px;
                        transition: all 0.5s;
                        svg, img{
                            width: 35px;
                            transition: all 0.5s;
                        }
                        &:hover{
                            font-size: 32px;
                            text-shadow: variables.$textBorder;
                            svg, img{
                                width: 40px;
                                filter: drop-shadow(rgba(83, 86, 255, 0.6) 0 0 5px);
                            }
                        }
                    }

                }
            }
            @media all and (max-width: 900px){
                .desc{
                    font-size: 18px;
                }
                .date{
                    font-size: 19px;
                    span{
                        font-size: 22px;
                    }
                }
                .blocLien{
                    width: 95%;
                    gap: 20px;
                    .lien{
                        width: 100%;
                        height: 50px;
                        a{
                            font-size: 26px;
                            svg, img{
                                width: 30px;
                            }
                            &:hover{
                                font-size: 30px;
                            svg, img{
                                width: 34px;
                            }
                            }
                        }
                    }
                }
            }
            @media all and (max-width: 700px){
                padding-bottom: 25px;
                .desc{
                    font-size: 16px;
                }
                .date{
                    font-size: 18px;
                    span{
                        font-size: 20px;
                    }
                }
                .blocLien{
                    width: 90%;
                    align-self: center;
                    gap: 15px;
                    .lien{
                        height: 40px;
                        a{
                            font-size: 24px;
                            svg, img{
                                width: 24px;
                            }
                            &:hover{
                                font-size: 28px;
                            svg, img{
                                width: 28px;
                            }
                            }
                        }
                    }
                }
            }
        }
        @media all and (max-width: 700px){
            height: calc(100vh - 80px);
        }
    }
}
.backTop{
    position: fixed;
    right: 30px;
    bottom: -100px;
    cursor: pointer;
    border: 2px solid variables.$green;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: black;
    @extend %flex-dcenter;
    transition: all 0.5s;
    overflow: hidden;
    img{
        width: 40px;
    }
    @media all and (max-width: 700px){
        width: 40px;
        height: 40px;
        img{
            width: 25px;
        }
    }    
}


