@use 'fonts';
@use 'variables';



//header
header{
    background-color: variables.$green;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;

    .homeButton{
        width: 60px;
        img{
            width: 100%;
        }
    }

    .emailAdd{
        display: block;
        font-family: 'Bitcount Prop Double';
        font-style: normal;
        font-size: 24px;
        text-decoration: underline;
        text-shadow: variables.$textBorder;
        color: black;
        transition: all 0.5s;

        &:hover{
            transform: scale(1.05);
            text-shadow: variables.$textHover;
        }
    }

    .menu{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 504px;
        li{
            font-size: 28px;
            font-family: 'Roboto';
            font-weight: bold;
            a{
                display: block;
                text-decoration: none;
                color: black;
                transition: all 0.5s;
                &:hover{
                    transform: scale(1.15);
    
                }
            }
            .contactButton{
                cursor: pointer;
                color: variables.$green;
                background-color: black;
                padding: 10px 10px;
                border-radius: 10px;
                transition: all 0.5s;
                &:hover{
                    transform: scale(1.15);
                    color: white;
                }
            }
        }
    }
}

@keyframes moveRight {
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(20px, 0);
    }
}

#contact{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: variables.$bg;
    font-family: 'Bitcount Prop Double';
    font-style: normal;
    font-size: 20px;
    color: variables.$green;
    height: 100vh;
    width: 40%;
    z-index: 101;
    border-left: solid 4px transparent;  
    border-image: url(../../images/test-border.png) 10 round; 
    transition: all ease-out 0.8s;
    .arrow{
        cursor: pointer;
        width: 30px;
        position: absolute;
        top: 20px;
        right: 30px;
        &:hover{
            animation-name: moveRight;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }
    }
    form{
        .form-group, .sub{
            margin: 15px;
        }
    }
}

#contact[data-token="viewContact"]{
    right: 0;
}

#home{
    background-color: variables.$bg;
    overflow: hidden;
    .nom{
        font-family: 'Share Tech Mono';
        color: variables.$green;
        margin: 160px auto 0;
        width: fit-content;
        font-size: 72px;
    }
    .fonc{
        font-family: 'Bitcount Prop Double';
        color: variables.$green;
        font-size: 96px;
        height: 144px;
        width: 784px;
        border-radius: 30px;
        @extend %flex-dcenter;
        margin: 210px auto 0;
        background-color: rgba(255, 255, 255, 0.2);
        transition: transform 0.1s ease, box-shadow 0.1s ease;
        will-change: transform;
    }
}

#archive{
    @extend %flex-dcenter;
    .content{
        width: 90%;
        height: 80vh;
        background-color: rgb(255, 255, 255, 0.7);
        border-radius: 30px;
        transform: translate(0, 50px);
        position: relative;
        @extend %flex-dcenter;
        .title{
            @extend %bitcount;
            position: absolute;
            font-size: 48px;
            top: 30px;
            left: 30px;
        }
        .card-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 58px;
            justify-content: center;
            align-items: center;
            .card{
                width: 350px;
                height: 500px;
                border-radius: 30px;
                background-color: variables.$bg;
                color: variables.$green;
                font-family: 'Bitcount Prop Double';
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                img{
                    width: 100%;
                }
                .info{
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    h2{
                        font-size: 40px;
                        font-weight: 400;
                        text-shadow: variables.$textBorderbis;
                    }
                    p{
                        font-size: 20px;
                    }
                    .tec{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 80px;
                        img{
                            width: 40px;
                        }
                    }
                }
                .blocLien{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 40%;
                    display: flex;
                    flex-direction: column;
                    border-top: solid 1px variables.$green;
                    a{
                        width: 100%;
                        height: 50%;
                        @extend %flex-dcenter;
                        gap: 10px;
                        text-decoration: none;
                        color: variables.$green;
                        font-size: 32px;
                        transition: all 0.5s;
                        svg{
                            width: 32px;
                            transition: all 0.5s;
                        }
                    }
                    a:hover{
                        font-size: 36px;
                        text-shadow: variables.$textBorder;
                        svg{
                            width: 36px;
                            filter: drop-shadow(rgba(83, 86, 255, 0.6) 0 0 5px);
                        }
                    }
                    a.bb{
                        border-bottom: solid 1px variables.$green;
                    }
                }
            }
        }
        .more{
            width: 100%;
            @extend %flex-dcenter;
            position: absolute;
            bottom: 30px;
            a{
                @extend %bitcount;
                font-size: 28px;
                text-decoration: none;
                color: variables.$green;
                background-color: variables.$bg;
                padding: 10px 15px;
                border-radius: 20px;
                transition: all 0.3s ease-out;
            }
            a:hover{
                transform: scale(1.05);
            }
        }
    }
}
